style
  include ./card.css

mixin card( title, autor, link, description )
  article.card: .card-wrapper
    h1.card__title(v-html!=attributes[':title'])=title
    h2.card__sub-title(v-html!=attributes[':autor'])=autor
    a.card__link( href!=attributes[':link']||link target="_blank") Click aqui!
    p.card__description(v-html!=attributes[':description'])=description
    button.card__button( 
      :autor!=attributes[':autor'],
      onclick=`showemail(event,'${autor}')`
    ) button
    if block
      block

mixin card-link( title, link, img )
  article.card.cursor-pointer(onclick=`goToLink('${link}')`)
    .card__title
      span(v-html!=attributes[':title'])=title
    img.card__img(src=`${img}`, alt="img-card")

mixin card-container(title, autor, description)
  .card-container
    if block
      block

script
  include ./card.js
